* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#loader {
    border: 8px solid gray;
    border-right-color: rgb(40, 40, 151);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }

}